@import "./stylesheets/utility.css";
@import "./stylesheets/generic.css";
@import "./stylesheets/reset.css";

:root {
  --main-color: #bac4ca;
  --secondary-color: #364954;
  --tertiary-color: #83b2ca;
}
/* Main styles  */
form {
  border: 4px dashed black;
  padding: 2.5rem 1rem;
  width: 650px;
  max-width: 80vw;
}
form fieldset {
  /* border: 2px solid purple; */
  padding: 1.5rem 1rem;
  display: flex;
}
/* rows */
.name_row {
  /* border: 1px dashed green; */
  display: flex;
  padding: 1rem 0;
}

.email_row {
  /* border: 1px dashed green; */
  display: flex;
  padding: 1rem 0.5rem;
}
#email {
  width: 100%;
}
#firstName {
  width: 50%;
  padding: 0 0.5rem;
}
#lastName {
  width: 50%;
  padding: 0 0.5rem;
}
